._5517df-input {
  width: 341px;
  display: inline-block;
  margin-bottom: 16px !important;
  height: 50px;
  position: relative;
}

._5517df-input ._5517df-label {
  font-size: 16px !important;
  color: #acacae;
  line-height: 20px !important;
  position: absolute;
  margin-left: 15px !important;
  margin-top: 14px !important;
  font-weight: normal !important;
  top: 0;
  left: 0;
  transition: all 0.2s ease;
  pointer-events: none;
}

._5517df-input ._5517df-input_element {
  width: 100% !important;
  background-color: transparent !important;
  padding: 0 !important;
  margin: 0 !important;
  outline: none;
  border: 2px solid #e6e6e8 !important;
  font-size: 16px !important;
  color: #323439 !important;
  line-height: 20px !important;
  padding: 23px 10px 3px 12px !important;
  box-shadow: none !important;
}

._5517df-input ._5517df-input_element:focus {
  border-color: #4cd696 !important;
}

._5517df-input ._5517df-input_element:focus + ._5517df-label {
  color: #4cd697 !important;
}

._5517df-input ._5517df-input_element:focus + ._5517df-label,
._5517df-input ._5517df-input_element:valid + ._5517df-label {
  font-size: 11px !important;
  line-height: 20px !important;
  -webkit-transform: translateY(-9px);
  transform: translateY(-9px);
}

._5517df-input ._5517df-validation {
  position: absolute;
  right: 18px;
  margin-top: 8px !important;
  font-size: 11px !important;
  color: #e75146;
}

._5517df-input ._5517df-validation a {
  color: #e75146;
  text-decoration: underline;
  cursor: pointer;
}